.paginaFour{
    background-color: #19002E;
    height: 100vh;
}
.containerFour{
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-top: 10px;
}

.logo{
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
h3{
    color: #FFFFFF;
    font-size: 65px;
    text-align: right;
}
.habilidades1{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.habilidades1 a{
    text-decoration: none;

    &:hover{
        color: #F34DA9;
        opacity: 0.7;
        transition: 0.7s;
    }
}