
.paginaFive{
    background-color: #19002E;
    height: 100vh;
}
.containerFive{
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-top: 10px;
}
.logo{
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
h3{
    color: #FFFFFF;
    font-size: 65px;
    text-align: right;
}
.contatos1{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}